@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: snow;
    font-family: 'GowunBatang-Regular';
}

.layout-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.layout-title {
    color: black;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    height: 30%;
    border-bottom: 1px solid black;
}

.title {
    display: flex;

}

.layout-post {
    font-size: 20px;
    font-weight: bold;
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.post {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
    text-align: left;
}

footer {
    font-size: 20px;
    font-weight: bold;
}

img {
    display: flex;
    width: 97%;
    justify-content: space-evenly;
}